.wapper_dasbroad{
  padding: 10px;
}
.item_dasbroad{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.dashboard-box {
  width: 200px;
  height: 150px;
  text-align: center;
  padding: 16px;
  border: 1px solid #ccc;
  margin: 8px;
  border-radius: 8px;
  background-color: #fff;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
	
.dashboard-box:hover {
  background-color: #f2f2f2;
  transform: translateY(-4px);
}

.dashboard-box > .anticon {
  font-size: 24px;
  margin-bottom: 8px;
}

.dashboard-box > span {
  display: block;
  font-size: 16px;
}

.dashboard-box > span:last-child {
  font-size: 20px;
}
.icon-container {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 8px;
  justify-content: center;
  color: #fff;
}

.icon-container svg {
  color: #fff;
  font-size: 35px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container span {
  margin-bottom: 4px;
} 

.col {
  display: flex;
  align-items: center;
}
.dashboard-text{
  color: #ccc;
}
.dashboard-number{
  font-size: 25px;
}