.wrapper-login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-login {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  padding: 35px;
  z-index: 1;
}

.title-content {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.custom-button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  margin-top: 10px;
}

.custom-input {
  position: relative;
  height: 50px;
  color: #000;
}

.ant-form-item-label {
  padding: 0 !important;
}