$bgIconedit:#00a8ff;
$bgIconDelete:#f72585;
$colorIconAction: #355dff;
$bgButtonSubmitHover: #2d4fd9;

$bgButtonCancel: #6c5dd3;
$bgButtonCancelHover: #5c4fb3;

$iconConfirmWarnColor: #ff9f38;
$iconConfirmInfoColor: #438aa7;
$darkColor: #777d87;
$lightbg: #ffffff;