.button-cancel {
    background-color: #6c5dd3 !important;
    border-color: #6c5dd3 !important;
    color: #fff !important;
}

.button-cancel:hover {
    background-color: #5c4fb3 !important;
    border-color: #5c4fb3 !important;
}

.button-submit {
    background-color: #355dff !important;
    border-color: #355dff !important;
    color: #fff !important;
}

.button-submit:hover {
    background-color: #2d4fd9 !important;
    border-color: #2d4fd9 !important;
}
.action_button{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: right;
}